body {
  background: linear-gradient(to right, #ec008c, #fc6767);
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.contenido {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}