.formulario {
  width: 350px;
  color: white;
  text-align: left;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formulario label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  background-color: #eee;
}

.formulario textarea {
  resize: none;
  height: 60px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background-color: #00c2cb;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #00a5ad;
}